<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/socket.io/socket.io.js"></script>
        <!-- <script src="/scripts/lib/quintus.js"></script> -->
        <script src="/lib/quintus.js"></script>
        <script src="/lib/quintus_sprites.js"></script>
        <script src="/lib/quintus_scenes.js"></script>
        <script src="/lib/quintus_input.js"></script>
        <script src="/lib/quintus_anim.js"></script>
        <script src="/lib/quintus_2d.js"></script>
        <script src="/lib/quintus_touch.js"></script>
        <script src="/lib/quintus_ui.js"></script>
        <script src="/lib/quintus_tmx.js"></script>
        <script src="/lib/quintus_audio.js"></script>

        <link href="http://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>

        <div ng-controller="AmmoBoardController" class="nn-ammoboard">
            <img class="nn-ammo" ng-repeat="a in range(ammoLeft) track by $index" src="/images/shuriken.png">
        </div>

        <div ng-controller="ScoreBoardController" class="nn-scoreboard">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>HP</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="player in players">
                <td>{{ player.name }}</td>
                <td>{{ player.hp }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/pubsub-js/src/pubsub.js"></script>

        <script src="/scripts/game/Constants.js"></script>
        <script src="/scripts/ScoreBoardController.js"></script>
        <script src="/scripts/AmmoBoardController.js"></script>
        
        <script src="/scripts/game/Config.js"></script>
        <script src="/scripts/game/init.js"></script>
        
        <script src="/scripts/game/Actor.js"></script>
        <script src="/scripts/game/Player.js"></script>
        <script src="/scripts/game/Portal.js"></script>
        <script src="/scripts/game/PortalBullet.js"></script>
        <script src="/scripts/game/Shuriken.js"></script>
        <script src="/scripts/game/HealthIndicator.js"></script>
        <script src="/scripts/game/WeaponIndicator.js"></script>
        <script src="/scripts/game/NameIndicator.js"></script>
        <script src="/scripts/game/NinjaGhost.js"></script>

        <script src="/scripts/GameState.js"></script>

        <script src="/scripts/scenes/Level.js"></script>
        <script src="/scripts/start.js"></script>
    </body>
</html>
